.about-us {
  &__hero-section-content-header {
    padding-top: 100px;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__hero-section-content-header-line {
    display: inline-block;
    width: 72px;
    height: 1px;
    background-color: $text-primary-color;
  }

  &__hero-section-content-header-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $text-primary-color;
  }

  &__hero-section-content-main {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    h1 {
      padding-left: 95px;
      max-width: 720px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 56px;
      line-height: 120%;
      color: $text-primary-color;
    }
  }

  &__hero-section-content-main-content {
    max-width: 500px;
    h3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: $text-primary-color;
    }
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      opacity: 0.7;
      color: $text-primary-color;
    }
    padding-bottom: 100px;
  }

  &__hero-section-video {
    position: relative;
    z-index: 10000;
  }

  &__hero-section-video-play-btn {
    position: absolute;
    top: 40%;
    left: 52%;
  }
  &__text-section {
    transform: translateY(-27%);
    height: 870px;
    padding-top: 320px;
    background-color: #f2f6ef;
  }

  &__text-section-content {
    display: flex;
    max-width: 1088px;
    gap: 96px;
    margin: 0 auto;
    div {
      max-width: 496px;
    }
    h3 {
      padding-bottom: 16px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $text-primary-color;
    }
    h2 {
      padding-bottom: 8px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 150%;
      color: $text-primary-color;
    }
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      opacity: 0.7;
      color: $text-primary-color;
    }
  }

  &__text-section-logo {
    padding-top: 100px;
    h2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $text-primary-color;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  &__text-section-logos {
    padding-top: 50px;
    display: flex;
    gap: 100px;
  }
}
