@import "./variables";
@import "./common";
@import "./pages/block_post/blocks/block_post_header";
@import "./pages/block_post/blocks/block-post_verstka";
@import "./pages/block_post/blocks/block_post_sect_1";

@import "./pages/block_post/blocks/block_post_footer";
@import "./pages/about-us/about-us";
